@tailwind base;
@tailwind components;
@tailwind utilities;
/* <<<<<<< HEAD

/* ======= */ 


body {
    overflow-x: hidden;
}
.wdt {
  width: 240px;
}
.shadowCard::-webkit-scrollbar {
  display: none;
}
.scrollC::-webkit-scrollbar {
  display: none;
  /* background-color: #a03bcf, #6f5bff; */
  
}

/* projects text animation keyframe */
@keyframes zoomOut {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.projectsAnimation {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 2s; 
  animation-duration: 2s; 
  -webkit-animation-timing-function: ease-out; 
  animation-timing-function: ease-out; 
}


  
/* projects hero image animation keyframe */
@keyframes slideIn {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.projectsHeroSlideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  -webkit-animation-duration: 2s; 
  animation-duration: 2s; 
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}





.tech-stack-container {
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  /* .tech-stack-container::before {
    background: #5bc236;
    content: "";
    position: absolute;
  } */
  
  .tech-stack-container::after {
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    margin: 0px 0 0 20px;
    border-radius: 50%;
    margin-top: -2px;
  }
  
  @media only screen and (max-width: 976px) {
  
  .tech-stack-container {
    width: 17px;
    height: 17px;
    }
  
  .tech-stack-container::after {
    width: 19.3px;
    height: 19.3px;
    margin: 0px 0 0 10px;
    margin-top: -1px;
  
  }
  }
  
  .gradient-border:hover {
    --borderWidth: 2.5px;
    position: relative;
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #FF2EAB, #EDBA03);
    border-radius: 15px;
    z-index: -1;
    animation: animatedgradient 1s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  @media only screen and (max-width: 976px) {
    .gradient-border:after{
      border-radius:5px;
    }
    .gradient-border:hover {
      --borderWidth: 1.5px;
    }
  }
  
  @media only screen and (max-width: 1440px) {
    .gradient-border:after{
      border-radius: 8px;
    }
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

/* Register now animation */
  @keyframes zoomToNormal{  
    0%{
  
      font-size: 0;
      transform: scale(0);
    }
    50% {
  
      font-size: 70px;
      transform: scale(1.2);
    }
    100%{
  
      font-size: 50px;
      transform: scale(1);
    }
  }
  .registerNow{
  
    animation-name: zoomToNormal;
  
    animation-duration: 2s;
  
    animation-timing-function: ease-in-out; 
  
    animation-fill-mode: forwards;
  
    transform-origin: center;
  }
.jj{
  background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
}
.swiper-button-prev::before{
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0);
}

